<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hey  and thank you !</h1>
  <p>
    hello
  </p>
  <p>Voici les coordonnées de 
    <br>
    - This is your image
    <br>
    

  
  </p>
  <p>
    - You paid  EUR.
  </p>
  <p>
    You can connect on: <%= @url %>.
  </p>
  <p> See you soon on catshop-io.fr ! </p>
</body>
</html>