<div class='container text-center my-5'>
    <h1>Merci !</h1>
    <p>Nous avons bien reçu votre paiement d'un montant de <%=number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u")%>.</p>
    <p>Vous recevrez un email dans quelques instants avec les coordonnées du maitre du chien que vous avez selectionné </p>
    <p> A bientôt chez Puppease </p>  
</div>